* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Gotham Book";
    src: url(Font/GothamBook.ttf);
}

@font-face {
    font-family: "Gotham Medium";
    src: url(Font/GothamMedium.ttf);
}

@font-face {
    font-family: "Gotham Bold";
    src: url(Font/Gotham-Bold.otf);
}

@font-face {
    font-family: "Gotham Light";
    src: url(Font/Gotham-Light.otf);
}
@font-face {
    font-family:"Gotham Ultra" ;
    src: url(Font/Gotham\ Ultra.otf);
}

:root {
    --primary-color: #f4f4f4;
    --secondary-color: red;
    --color: #404040;
    --first-font:"Gotham Ultra";
    --primary-font: "Gotham Book";
    --secondary-font: "Gotham Medium";
    --third-font: "Gotham Light";
    --primary-font-size: 4em;
    --secondary-font-size: 3em;
    --third-font-size: 2em;
    --fourth-font-size: 1.3em;
}

:root {
    scroll-behavior: smooth;
}
h1{
    font-family:var(--first-font);
    color: var(--color);
    font-weight: bold;
    
}
p{
    color: var(--color);
      
}
h2{
    color: var(--color);
    font-family:var(--secondary-font);
    /* font-weight: bold; */
}
h3{
    color: var(--color);
    font-family: var(--secondary-font);  

}
h4{
    font-family:var(--secondary-font);
    color: var(--color);
}
a {
    text-decoration: none;
}
btn{
    font-family: var(--primary-font);
    color: #ffff;
}

header {
    background-image: url('images/banner_image.png');
    /* Replace with your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

/* Left-side menu image */
.menu-image img {
    width: 40px;
    height: 20px;
    cursor: pointer;
}

/* Center logo */
.center-logo img {
    width: 150px;
    height: 30px;
    cursor: grab;
}
.right-side {
    display: none;
    justify-content: flex-end;
    color: #f4f4f4;
    font-size: var(--fourth-font-size);
    font-family: var(--primary-font);
    font-weight: bold;

}
.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    cursor: grab;
    
    }


.right-side .list-item {
    margin-left: 15px;
}

.right-side img {
    width: 35px;
    height: auto;
    
}

.video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    background: none;
    border: none;
    cursor: pointer;
}

.video-container img {
    width: 60px;
    height: 60px;
}

.play-button:hover {
    transform: scale(1.1);
}

.color-change {
    filter: brightness(0.2) invert(100%);
}

.about-btn {
    border-radius: 100px;
}

.about-content {
    padding-top: 28%;
}

.about-section-column-row-final-icon {
    height: 10px;
    margin-top: 45px;
    width: 10px;
    object-fit: cover;
}

.about-section-dotted-line-second {
    height: 150px;
    /* object-fit: cover; */
}
.about-text-para{
    font-size: 1.2em;
    font-family: var(--primary-font);
}
.we-about-section {
    display: flex;
    max-width: 1400px;
    margin: 50px auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.we-are-content {
    padding-top: 25%;

}
.we-are-para{
    font-size: 1.2em;
    font-family: var(--primary-font);
}

.rowexcellencein {
    margin-top: 14px;
    padding-left: 44px;
    padding-right: 44px;
    gap: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 150px;

    @media only screen and (max-width:1050px) {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.about-column-excellence {
    margin-bottom: 16px;
    width: 60%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width:1050px) {
        align-self: auto;
        width: 100%;
        margin-bottom: 0px;
    }
}

.about-column-excellence-title {
    line-height: 29px;
    padding-left: 16%;
    font-size: 2em;
    font-family: "Gotham";
    font-weight: bold;
    color: #333;
    float: left;
    margin-top: 32%;

}

.about-column-excellence-title-description {
    margin-top: 30px;
    line-height: 1.5;
    font-family: "Gotham Light";
    font-size: 1.3em;
    padding-left: 16%;
    color: #666;
    width: 650px;
}




.about-section-content {
    display: flex;
    flex: 2;
    align-items: center;
    
   
     @media only screen and (max-width:1050px) {
        flex-direction: column;
    } 
}

.about-section-dotted-line {
    height: 150px;
    width: 13%;
   
    @media only screen and(max-width:1050px) {
        width: 100%;
    }
}

.about-section-column {
    gap: 40px;
    display: flex;
    flex: 1;
    flex-direction: column;

    /* @media only screen and(max-width:1050px) {
        align-self: stretch;
    } */
}

.about-section-column-row {
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media only screen and (max-width:1050px) {
        margin-left: 0px;

    }
}

.about-section-column-row-content {
    gap: 46px;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid gray;
    border-radius: 10px;
    
    @media only screen and (max-width:550px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.about-section-column-row-image {
    height: 66px;
    width: 24%;
    object-fit: certain;
    
}

.about-section-column-row-title {
    margin-bottom: 25px;
    align-self: end;
    margin-left: -12px;
    font-size: 1.2em;
    opacity: 0;
  
}

.about-section-column-row-icon {
    height: 10px;
    margin-left: -2px;
    position: relative;
    width: 10px;
    object-fit: cover;
    margin-top: -15px;
   
}

.about-section-column-row-alternate {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-section-column-row-alternate-icon {
    height: 10px;
    margin-top: 45px;
    z-index: 1;
    align-self: start;
    width: 10px;
    position: relative;
    object-fit: cover;
   
}

.about-section-column-row-alternate-content {
    margin-left: -4px;
    gap: 29px;
    position: relative;
    border: 1px solid gray;
    flex: 1;
    display: flex;
    align-items: start;
    padding: 12px 24px;
    border-radius: 10px;
   
    @media only screen and(max-width:550px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.about-section-column-row-alternate-image {
    height: 66px;
    margin-bottom: 12px;
    width: 24%;
    object-fit: contain;
   
}

.about-section-column-row-alternate-title {
    margin-top: 25px;
    margin-left: 5px;
    font-size: 1.2em;
   
}

.about-section-column-row-alternate-icon-last {
    height: 10px;
    width: 10px;
    object-fit: cover;
   
}

.about-section-column-row-final {
    display: flex;
    justify-content: center;
    align-items: start;
    
}

.about-section-column-row-final-content {
    padding-left: 18px;
    padding-right: 18px;
    gap: 32px;
    align-self: center;
    border: 1px solid gray;
    flex: 1;
    display: flex;
    align-items: start;
    border-radius: 10px;
   
}

.about-section-column-row-final-image {
    height: 84px;
    margin-bottom: 10px;
    width: 26%;
    object-fit: contain;
   
}

.about-section-column-row-final-title {
    align-self: center;
    font-size: 1.2em;
   
}

.about-section-column-row-last {
    margin-left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media only screen and (max-width:1050px) {
        margin-left: 0px;
    }
}

.about-section-column-row-last-content {
    padding-left: 28px;
    padding-right: 28px;
    gap: 20px;
    border: 1px solid gray;
    flex: 1;
    display: flex;
    align-items: start;
    border-radius: 10px;
    margin-left: -15px;
   
    @media only screen and (max-width:1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.about-section-column-row-last-image {
    height: 76px;
    margin-bottom: 20px;
    width: 28%;
    object-fit: contain;
   
}

.about-section-column-row-last-title {
    margin-top: 20px;
    font-size: 1.2em;
   
}

.about-section-column-row-last-icon {
    height: 10px;
    margin-bottom: 35px;
    margin-left: -2px;
    align-self: end;
    position: relative;
    width: 10px;
    object-fit: cover;
    
    
}


.about-section-dotted-lines {
   
    margin-left: -2px;
    gap: 136px;
    position: relative;
    display: flex;
    width: 13%;
    flex-direction: column;
    
    @media only screen and (max-width:1050px) {
        width: 100%;
        gap: 102px;
        margin-left: 0;
    }

    @media only screen and (max-width:550px) {
        gap: 68px;
    }
}
.our-product-sub-image img{
    width:100px;
    height: auto;
}
.custom-gap{
   display: grid;
grid-template-columns: 0% 100%;
column-gap: 150px;
row-gap: 100px;
}
.our-product-sub-content{
    width: 100%;
}
.our-product-sub-content h3{
    font-size: 20px;
}
.our-product-sub-content p{
    font-size: 15px;
}
.flip-container{
    width: 100%;
    height: auto;
    display: flex;
flex-direction: row;
justify-content: space-around;
}
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    border-radius: 50px;
  }
  .flip-card-1 {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    border-radius: 50px;
  }
  .flip-card-2 {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    border-radius: 50px;
  }
  .flip-card-3 {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    border-radius: 50px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-1:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-2:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-3:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #f4f4f4;
    color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-back {
    background-color: #f4f4f4;
    color: #404040;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.flip-card-back p{
    padding: 20px;
}
.flip-card-front p{
    padding: 20px;
}
.flip-card-front h4{
    padding-top: 30px;
}
.flip-card-back h4{
    padding-top: 20px;
}
.flip-card-1{
    margin-top: 20%;
}
.flip-card-2{
    margin-top: 10%;
}
.flip-card-3{
    margin-top: 30%;
}
.employee-image {
    position: relative;
    margin-top: 420px;
    height: 260px;
    margin-bottom: 30px;
    margin-left: 215px;
    width: 28%;
    object-fit: certain;

    @media only screen and (max-width:1050px) {
        margin-left: 0px;
    }
}

.section-content {
    gap: 8px;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width:1050px) {
        flex-direction: column;
    }

}

.section-content-description {
    gap: 32px;
    align-self: end;
    display: flex;
    width: 76%;
    flex-direction: column;

    @media only screen and (max-width:1050px) {
        align-self: auto;
        width: 100%;
    }
}

.section-content-description-row {
    margin-right: 16px;
    gap: 28px;
    display: flex;
    align-items: center;

    @media only screen and (max-width:1050px) {
        flex-direction: column;
        margin-right: 0px;
    }
}

.section-content-description-image {
    height: 302px;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 0;
    object-fit: cover;
    border-radius: 20px;
    
    @media only screen and (max-width:1050px) {
        width: 100%;
    }
}

.section-content-explore-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media only screen and (max-width:1050px) {
        flex-direction: column;
    }
}

.section-content-explore-image {
   
    height: 220px;
    width: 30%;
    margin-right: 20px;
    
    /* object-fit: contain; */

    @media only screen and (max-width:1050px) {
        width: 100%;
    }
}

.section-content-employees {
    gap: 24px;
    display: flex;
    width: 22%;
    flex-direction: column;

    @media only screen and (max-width:1050px) {
        width: 100%;
    }
}

.section-content-employee-image-first {
    height: 302px;
    margin-left: 6px;
    object-fit: cover;

    @media only screen and (max-width:1050px) {
        margin-left: 0px;
    }
}

.section-content-employee-image-second {
    height: 300px;
    margin-left: 6px;
    object-fit: cover;
    border-radius: 20px;

    @media only screen and (max-width:1050px) {
        margin-left: 0px;
    }
}
.team-btn{
    margin-top: 20%;
}

/* .team-section-1 {
    height: 1024px;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 38px;
    padding-right: 38px;
    width: 100%;
    position: relative;
    align-content: flex-end;

    @media only screen and (max-width:1050px) {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media only screen and (max-width:550px) {
        padding-left: 20px;
        padding-right: 20px;

    }
} */

.section-1 {
    flex: 1;
    display: flex;
    position: absolute;
    top: 11%;
    margin-top: auto;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 1364px;
    width: 100%;

}

.section-content-description-text {
    color: #000000;
    margin-bottom: 6px;
    font-size: 28px;
    font-weight: 400;
    align-self: end;
    width: 70%;
    line-height: 33px;

    @media only screen and (max-width:1050px) {
        align-self: auto;
        width: 100%;
        font-size: 26px;
    }

    @media only screen and (max-width:550px) {
        font-size: 24px;
    }
}

.team-section-1 {
    height: auto;
    background-color: white;
    width: 100%;
    position: relative;
    align-content: flex-end;
    padding: 30px 38px;

    @media only screen and (max-width:1050px) {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media only screen and (max-width:550px) {
        padding: 20px;
    }
}

.section-1 {
    flex: 1;
    display: flex;
    position: absolute;
    top: 11%;
    right: 0px;
    left: 0px;
    max-width: 1364px;
    width: 100%;
    margin: auto;
}

.section-content-description-text-1 {
    margin-top: 120px;
    width: 70%;
    line-height: 1.5;
    font-size: 1.2em;
    font-family: var(--primary-font);

    @media only screen and (max-width:1050px) {
        align-self: auto;
        width: 100%;
    }
}
.main-image {
    margin-bottom: 30px;
    margin-top: 30px;
}

.container-fulllist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    font-family:var(--primary-font);
    color: #404040;
}
.container-list {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.row-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.row-list-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.row-list-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /* border-bottom: 1px solid #ccc; */
}
.icon {
    width: 50px;
    height: auto;
}
.red{
    width: 13px;
    height: 13px;
}
.red-dot-1{
    position: absolute;
    margin-top: -40.9%;
    margin-left:54.4%;
}
.red-dot-2{
    position: absolute;
    margin-top: -33.5%;
    margin-left:62.8%;
}
.red-dot-3{
    position: absolute;
    margin-top: -32.5%;
    margin-left:63.8%;
}
.red-dot-4{
    position: absolute;
    margin-top: -33.5%;
    margin-left:71.6%;
}
.red-dot-5{
    position: absolute;
    margin-top: -37.8%;
    margin-left:78%;
}
.red-dot-6{
    position: absolute;
    margin-top: -23%;
    margin-left:80.6%;
}

 .para{
    font-family: var(--primary-font);
    font-size: 1em;
 }
 .para-sub{
    font-family: var(--primary-font);
    font-size: 1em;
   
     }
     .product-subpara{
        font-family: var(--primary-font);
     }
     .product-head-1{
        font-family: var(--primary-font);
        font-weight: bold;
     }
.footer-container {
    width: 100%;
    background-image: url('images/footer.png');
    background-size: cover;
    background-position: center;
    padding: 10px;
    color: #404040;
   }
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-size: 1em;
    font-family:var(--primary-font);
    color: #404040;
}
    
.footer-link{
    font-family: var(--primary-font);
    font-size: 1em;
    color: #404040;
   
}
.footer-link a {
    text-decoration: none;
    color: #404040;
    font-size: 1em;
    padding-right: 80px;
}

.footer-link img {
    width: 30px;
    height: 30px;

}

.footer-icon {
    position: absolute;
    margin-left: 10px;
    margin-top: -1px;
    
}

.footer-link a:hover {
    cursor: grab;
    color: #404040;
}
.fade-1{
    opacity: 0;
    animation: fade1 0s forwards 0.1s;
}

.fade-2{
    opacity: 0;
    animation: fade2 0.1s forwards 0.2s;
}
.fade-3{
    opacity: 0;
    animation: fade3 0.2s forwards 0.3s;
}
.fade-4{
    opacity: 0;
    animation: fade4 0.4s forwards 0.5s;
}
.fade-5{
    opacity: 0;
    animation: fade5 0.5s forwards 0.6s;
}
.fade-6{
    opacity: 0;
    animation: fade6 0.6s forwards 0.7s;
}
.fade-7{
    opacity: 0;
    animation: fade7 0.7s forwards 0.8s;
}
@keyframes fade1 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade2 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade3 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade4 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade5 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade6 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade7 {
    to {
      opacity: 1;
    }
  }
  .line-image-1{
    margin-left: 100px;
    width: 86%;
  }
  .line-image-2{
    height: 60px;
    width: 86%;
    margin-left: 100px;
    margin-top: -700px;
    object-fit: certain;
  }
  .line-image-3{
    margin-left: 100px;
    height: 150px;
    width: 86%;
  }
  .fade-in-1{
    opacity: 0;
    animation: fade7 0.0s forwards 0.1s;
  }
  .fade-in-2{
    opacity: 0;
    animation: fade7 0.1s forwards 0.2s;
  }
  .fade-in-3{
    opacity: 0;
    animation: fade7 0.2s forwards 0.3s;
  }
  .fade-in-4{
    opacity: 0;
    animation: fade7 0.3s forwards 0.4s;
  }
  .fade-in-5{
    opacity: 0;
    animation: fade7 0.4s forwards 0.5s;
  }
  .fade-in-6{
    opacity: 0;
    animation: fade7 0.5s forwards 0.6s;
  }
  .fade-in-7{
    opacity: 0;
    animation: fade7 0.6s forwards 0.7s;
  }
  @keyframes fade-in-1 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in-2 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in-3 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in-4 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in-5 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in-6 {
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in-7 {
    to {
      opacity: 1;
    }
  }